<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG Suite" parallel="methods" thread-count="3" >

    <test name="smoke">

       <classes>
           <class name="homeworks.hw2.ex2.SmokeTests" />
       </classes>

    </test>

    <test name="regression">

        <classes>
            <class name="homeworks.hw2.ex2.RegressionTests" />
        </classes>

    </test>

</suite>
