<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG Suite" parallel="methods" thread-count="3" >

    <test name="Test 1">

       <classes>
           <class name="lessons.lesson2.SimpleTestWithAnnotation" />
           <class name="lessons.lesson2.STWithDataProvider" />
       </classes>

    </test>

</suite>
